html, body
{
	height: 100%;
}

table
{
	position: absolute;
	left: 30%;
	top: 15%;
	text-align: center;
	vertical-align: center;
	font-size: 80px;
}

td
{
	height: 150px;
	width: 150px;
	color: gray;
}

table, td, tr
{
	border-collapse: collapse;
}

#c11
{
	border-bottom: 8px solid orange;
	border-right: 8px solid orange;
}

#c12
{
	border-bottom: 8px solid orange;
	border-right: 8px solid orange;
	border-left: 8px solid orange;
}

#c13
{
	border-bottom: 8px solid orange;
	border-left: 8px solid orange;
}

#c21
{
	border-top: 8px solid orange;
	border-right: 8px solid orange;
	border-bottom: 8px solid orange;
}

#c22
{
	border-top: 8px solid orange;
	border-right: 8px solid orange;
	border-bottom: 8px solid orange;
	border-left: 8px solid orange;
}

#c23
{
	border-top: 8px solid orange;
	border-left: 8px solid orange;
	border-bottom: 8px solid orange;
}

#c31
{
	border-top: 8px solid orange;
	border-right: 8px solid orange;
}

#c32
{
	border-top: 8px solid orange;
	border-right: 8px solid orange;
	border-left: 8px solid orange;
}

#c33
{
	border-top: 8px solid orange;
	border-left: 8px solid orange;
}



